<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'favorites' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let genre of genres">
      <ion-col>
        <div class="genre-list">
          <span (click)="openModal(genre)">{{ genre.name | translate }}</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="genres.length == 0">
      <ion-col>
        <div>{{ 'notExistFavoritesMsg' | translate }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="genres.length == 0">
      <ion-col>
        <ion-button color="tertiary" [routerLink]="['/']">Home</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
