<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title>
      <ion-row>
        <ion-col size="auto">
          <a [routerLink]="['/']"><ion-icon name="home" style="color: white; font-size: 22px;"></ion-icon></a>
        </ion-col>
        <ion-col>
          <div style="font-weight: bold; font-size: 17px; padding-left: 10px; color: white;">{{ title }}</div>
        </ion-col>
        <ion-col size="auto">
            <a [routerLink]="['/favorite']"><ion-icon name="star" style="color: white; font-size: 22px;"></ion-icon></a>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>